#world {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.stub-bf {
  width: 400px;
  height: 400px;
}

.hidden {
  display: none !important;
}

.map {
  margin: 40px;
}

.dock {
  border: 3px solid #345678;
  width: 300px;
  height: 220px;
  margin: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.map__row {
  height: 42px;
}

div {
  margin: 0;
  padding: 0;
}

.ship {
  display: flex;
  justify-content: start;
}

.ship--horizontal {
  flex-direction: row;
}

.ship--vertical {
  flex-direction: column;
}

.ship__deck, .map__cell{
  border: 1px solid #000;
  margin: 0;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.ship__deck--colored {
  background-color: #434b4d; 
}

.map__cell--destroyed {
  background-color: #000;
}

.map__cell--empty {
  background-color: #99e6ff;
}

.map__cell--damaged {
  background-color: #991186; 
}

.map__cell--miss {
  background-color: pink;
}

.map__cell--potential {
  background-color: green;
}

.map__cell--available {
  background-color: #c7fcec;
}

.map__cell--unavailable {
  background-color: #ffccde;
}

.map__cell--intact {
  background-color: #4e5754;
}


